<div class="card mt-1">
   
    <div class="card-body">

        <h5 class="card-title">{{tweet.username}}</h5>
            

       
        <div class="card-text">
            <p>{{tweet.content}}
                
            </p>

        </div>
        <div class="content-info">

            <div class="content-info-item"><i class="far fa-comment"></i></div>
            <div class="content-info-item"> <i class="fas fa-retweet"></i></div>
            <div class="content-info-item"> <i class="far fa-heart"></i></div>

        </div>


    </div>

</div>