<div class="card card-primary">
    <div class="card-header">
        Register User
    </div>
    <div class="card-body">
        <form #f ="ngForm" (ngSubmit)="onSubmit(f)"> 
            <div class="form-group">
                <label for="username">Username</label>
                <input  [(ngModel)]="user.username"  type="text" name="username" class="form-control">

            </div>

            <div class="form-group">
                <label for="mail">Mail</label>
                <input [(ngModel)]="user.mail"  type="mail" name="mail" class="form-control">

            </div>


            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" type="password" name="password" class="form-control">

            </div>



            <input type="submit" value="Register" class="btn-primary form-control">

        </form>
    </div>

</div>